version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:4.2.3-management
    container_name: rabbitmq
    restart: unless-stopped

    ports:
      - "5672:5672"     # AMQP
      - "15672:15672"   # Management UI

    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
      RABBITMQ_DEFAULT_VHOST: /

    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

    networks:
      - rabbitmq

networks:
  rabbitmq:

volumes:
  rabbitmq_data:
